*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.1s;
  margin: 0;
  padding: 0;
}
/* General Styles */
body {
  font-family: "Heebo", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: darkslategrey;
  position: absolute;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 4.5rem;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.menu {
  line-height: 1;
  margin: 0;
  padding: 0.5rem;
}
.menu ul {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu_item {
  display: block;
  margin: 1em 5em;
  color: white;
}
