@import "./common";
// @import "@material/card/mdc-card";
@import "@material/button/mdc-button";

button{
  @include mdc-button-container-fill-color(rgba(white, 1));
}

.mdc-button:not(:disabled) {
  background-color: white;
  color: black;
}
.mdc-button__label{
  font-size: 2rem;
  padding: 0.2em;
}

.mdc-button{
  height: 30%;
  width: 20%;
}
.mdc-button {
  width: 40%;
  height: 40%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }